/* @tailwind base; */
@tailwind components;
@tailwind utilities;

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mantine-primary-color-4); /* Set the color */
  border-radius: 4px; /* Rounded borders */
}
